<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Echo Text</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script  type="text/javascript" src="js/echo.js"></script>
    </head>
    <body bgcolor="#E6E6FA">
        <div id="demo">
            <h1>Echo Form</h1>
            <table border=1 style="width:1000px">
                <tr>
                    <td><label>User:</label></td>
                    <td><input type="text" name="user" id="userName" size="65" maxlength="500"></td>
                </tr>
                <tr>
                    <td><label>City:</label></td>
                    <td><input type="text" name="city" id="city" size="65" maxlength="500"></td>
                </tr>
                <tr>
                    <td><label>Post:</label></td>
                    <td><textarea name="user" id="inputText" rows="4" cols="50"></textarea></td>
                </tr>
                <tr>
                    <td><label>User Posts:</label></td>
                    <td>
                        <div id="userPosts"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>User City Details:</label></td>
                    <td>
                        <div id="location"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>All Posts:</label></td>
                    <td>
                        <div id="allPosts"></div>
                    </td>
                </tr>
            </table>
            <br/>
            <br/>
            <button type="button" onclick="makeCall()">Done</button>
        </div>
    </body>
</html>
